<h3 class="page-info">Signup</h3>
<p class="page-intro">Find, add and play public pianos in your location today.</p>


<%= form_for :user, url: '/users', html: { class: 'input_field' } do |f| %>

  <p class="textbox-label">Username</p>
  <p class="textbox-input" placeholder="username"><%= f.text_field :username, class: 'placeholder', :value => @username %></p>
  <p class="textbox-label">Email</p>
  <p class="textbox-input"><%= f.text_field :email, class: 'placeholder', :value => @email %></p>
  <p class="textbox-label">Password</p>
  <p class="textbox-input"><%= f.password_field :password, class: 'placeholder' %></p>
  <p class="textbox-label">Retype password</p>

  <p class="textbox-input"><%= f.password_field :password_confirmation, class: 'placeholder' %></p>
  <p class="spacer"> </p>
<!--   <p class="submit"><button type="submit" class="submit_btn">Sign Up</button></p> -->
  <p class="submit"><button id="submit_btn">Sign Up</button></p>


<% end %>

<script>

var submitBtn = document.getElementById('submit_btn');
submitBtn.addEventListener('click', function(event) {
  var email = document.getElementById('user_email').value;
  var password = document.getElementById('user_password').value;
  var passwordVer = document.getElementById('user_password_confirmation').value
  var emailCheck = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
  if (email == "") {
    event.preventDefault();
    alert("Valid Email Address Required!")
  } else if (email.search(emailCheck) == -1) {
    event.preventDefault();
    alert("Valid Email Address Required!")
  } else if (password.length < 6) {
    event.preventDefault();
    alert("Password Must Be At Least 6 Characters!")
  } else if (password !== passwordVer) {
    event.preventDefault();
    alert("Password Fields Must Match!")
  };
});
</script>
